<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to your Pet Fetch Profile</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../styles/home.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">

    <!--GOOGLE FONTS-->
    <link
        href="https://fonts.googleapis.com/css?family=Crimson+Pro:400,500,600,700,800,900|Raleway:300,400,500,600,700,800&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- =================== NAVIGATION  ===================-->
    <div class="top-bar" id="navMenu">
        <!-- LEFT NAV -->
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="menu-text">
                    <!-- 
                </li><img src="../public/styles/images/pet-fetch-logo-05-05.png" width="120">
                </li> -->
                <li class="menu-text">PET FETCH</li>
            </ul>
        </div>
        <!-- RIGHT NAV -->
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="/register" nclass="sign-in-button">SIGN IN</a></li>
            </ul>
        </div>
    </div>


    <!-- =================== MAIN PAGE  ===================-->
    <!-- <h1 class="user-name" id="main-headers2">Welcome</h1> -->
    <div class=large-6column id="signInLeft">
        <div class="container">

        </div>
    </div>


    <div class=large-6column>
        <div class="container">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form method="POST" action="/login" role="form">
                            <div class="form-group">
                                <h2>Sign in</h2>
                            </div>
                            <div class="form-group">
                                <strong>Email Address</strong>
                                <input id="signinEmail" name="email" type="email" maxlength="50" class="form-control">
                            </div>
                            <div class="form-group">
                                <strong>Password</strong>
                                <span class="right"><a href="#">Forgot your password?</a></span>
                                <input id="signinPassword" name="password" type="password" maxlength="25"
                                    class="form-control">
                            </div>
                            <div class="form-group" style="padding-top: 12px;">
                                <button id="signinSubmit" type="submit" class="btn btn-success btn-block">Sign
                                    in</button>
                            </div>
                            <div class="form-group divider">
                                <hr class="left"><small>New to site?</small>
                                <!-- <hr class="right"> -->
                            </div>
                            <a href="#" class="button large expanded">Create An Account</a>
                            <!-- <p class="form-group"><a href="/register" class="btn btn-info btn-block">Create an account</a>
                        </p> -->
                            <p class="form-group">By signing in you are agreeing to our <a href="#">Terms of Use</a> and
                                our
                                <a href="#">Privacy Policy</a>.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // Question: What does this code do?
        $("#signinSubmit").on("click", function (event) {
            // prevents the page from refreshing when the button is clicked
            event.preventDefault();
            var user = {
                email: $("#signinEmail").val().trim(),
                password: $("#signinPassword").val().trim(),
            };

            // this connects to database
            // (data.tablename.name) = response from database

            /*
            $.post("/api/login", userLogin, function (data) {
                $("#owner-name").text(data.user.email);
                $("#owner-phone").text(data.user.password);
            });
            */

            console.log(user);
            $.ajax({
                url: "/login",
                method: "POST",
                data: user
            }).then(function (response) {
                // redirect user to the index.html
                window.location.pathname = "/";
            })
            // // redirect to home page
            // window.location.href = "/";
        });

    </script>

    <div>
        <a href="/owner_profile_setup" class="button large expanded">Create Profile</a>
    </div>


    <!-- =================== SCRIPTS =================== -->

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>