<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to your Pet Fetch Profile</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="//public/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/Project 2/Project-2/public/styles/home.css">

</head>

<body>
    <!-- =================== MAIN NAVIGATION BAR ===================-->
    <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="realEstateMenu">
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="menu-text">PET FETCH</li>

            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#">My Account</a></li>
                <li><a class="button">Share Pet Profile</a></li>
            </ul>
        </div>
    </div>

    <br>


    <!-- =================== USER HOME PAGE ===================-->
    <div class="work-feature-block row">

        <div class="columns medium-5">
            <h2 class="work-feature-block-header">Welcome back, Brian.</h2>

            <div class="reminders-section">

                <h5>REMINDERS</h5>

                <div data-closable class="callout alert-callout-border primary">
                    <strong>UPCOMING</strong> - Chanel has to take medicine today.
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div data-closable class="callout alert-callout-border alert radius">
                    <strong>ALERT</strong> Hercules is due for vaccinations.
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div data-closable class="callout alert-callout-border warning">
                    <strong>REMINDER</strong> - Cheddar's birthday is in 1 week
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- <div data-closable class="callout alert-callout-border secondary">
        <strong>Mistake</strong> - You made a mistake.
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div data-closable class="callout alert-callout-border radius">
        <strong>Oops</strong> - The most dreadful word in nuclear physics.
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->

                <!-- 
    <div data-closable class="callout alert-callout-border success">
        <strong>Yay!</strong> - You accomplished a simple task!
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->

            </div>
        </div>


        <!-- =================== USER PRFILE PICTURE =================== -->

        <div class="columns medium-7">
            <img class="work-feature-block-image" src="https://placehold.it/600x400" />
        </div>
    </div>


    <!-- =================== USER LIST OF ANIMALS ===================-->
    <hr>

    <div class="row column">
        <p class="lead">YOUR ANIMALS</p>
    </div>
    <div class="row small-up-1 medium-up-2 large-up-3">

        <div class="column">
            <div class="callout">
                <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of pet">
                </p>
                <p class="lead">DUKE</p>
                <p class="subheader">Male Cat</p>
            </div>
        </div>

        <div class="column">
            <div class="callout">
                <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of pet">
                </p>
                <p class="lead">CHANEL</p>
                <p class="subheader">Female Corgi Mix</p>
            </div>
        </div>

        <div class="column">
            <div class="callout">
                <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of pet">
                </p>
                <p class="lead">HERCULES</p>
                <p class="subheader">Male, Goldendoodle</p>
            </div>
        </div>

        <div class="column">
            <div class="callout">
                <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of pet">
                </p>
                <p class="lead">BIRD</p>
                <p class="subheader">Male, Parrot</p>
            </div>
        </div>

        <div class="column">
            <div class="callout">

                <h1>ADD PET</h1>
            </div>
        </div>

    </div>


    <!-- =================== FOOTER ===================-->
    <div id="engadget-footer-social-container">
        <footer id="engadget-footer-social">
            <div class="footer-left">
                <div class="newsletter">
                    <h6>Sign up for our newsletter</h6>
                    <div class="input-group">

                        <input class="input-group-field" type="email" placeholder="Email address">
                        <div class="input-group-button">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <h6>Follow us</h6>
                <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
                <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
            </div>
        </footer>
    </div>
    <div id="engadget-footer-contact-details-container">
        <footer id="engadget-footer-contact-details">
            <div class="footer-left">
                <div class="contact-details">
                    <ul>
                        <li><img class="thumbnail" src="http://placehold.it/80"></li>
                        <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 01234 567890</li>
                        <li><a data-toggle="animatedModal10"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact
                                us</a></li>
                        <li><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Street, City, County, Country</li>
                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <ul class="menu align-right">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li><a href="#">Four</a></li>
                </ul>
            </div>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>