<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to your Pet Fetch Profile</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="./styles/footer.css">
    <link rel="stylesheet" type="text/css" href="./styles/home.css">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">

    <!--GOOGLE FONTS-->
    <link
        href="https://fonts.googleapis.com/css?family=Crimson+Pro:400,500,600,700,800,900|Raleway:300,400,500,600,700,800&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- =================== NAVIGATION  ===================-->
    <!-- MOBILE MENU -->
    <!-- <div class="title-bar" data-responsive-toggle="mobileNavMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div> -->

    <div class="top-bar" id="navMenu">

        <!-- LEFT NAV -->
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="menu-text">
                    <!-- 
            </li><img src="../public/styles/images/pet-fetch-logo-05-05.png" width="120">
            </li> -->
                <li class="menu-text">PET FETCH</li>
            </ul>
        </div>

        <!-- RIGHT NAV -->
        <div class="top-bar-right">
            <ul class="menu">
                <!-- <li><a href="#" id="owner-profile">OWNER PROFILE</a></li>
                <li><a class="share-button">SHARE PET PROFILE</a></li>
                <li><a class="log-button">LOGOUT</a></li> -->
            </ul>
        </div>

    </div>

    </div>
    </div>


    <h1 class="user-name" id="main-headers2">Profile Setup</h1>

    <!-- =================== OWNER FORM =================== -->
    <form class="form-control" id="profile-setup-form">
        <div class="row">

            <!-- <h1 id="sub-header2">Owner Profile</h1>
            <hr> -->
            <div class="columns medium-6 large-4">
                <h1 class="user-name" id="form-header">Owner Profile</h1>
            </div>
            <div class="columns medium-6 large-8"> <input type="text" id="first-name" placeholder="First Name">
                <input type="text" id="last-name" placeholder="Last Name">
                <input type="text" id="email" placeholder="Email">
                <input type="text" id="phone" placeholder="Phone"></div>

        </div>

        </div>


        <div>
            <a href="/pet" class="button large expanded" id="submit">Submit</a>
        </div>

    </form>
    <!-- =================== SCRIPTS =================== -->

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script src="./js/owner_profile_setup.js"></script>

    <script>
        $(document).foundation();
    </script>
</body>

</html>