<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to your Pet Fetch Profile</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/Project 2/Project-2/public/styles/home.css">
    <link rel="stylesheet" href="../public/styles/dropzone.css">


</head>

<body>
    <!-- =================== MAIN NAVIGATION BAR ===================-->
    <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="realEstateMenu">
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="menu-text">PET FETCH</li>

            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#">My Account</a></li>
                <li><a class="button">Share Pet Profile</a></li>
            </ul>
        </div>
    </div>

    <br>

    </div>
    </div>


    <!-- =================== USER FORM =================== -->

    <h2>Pet Profile</h2>

    <div class="row">
        <h4>About</h4>
        <div class="small-9 columns">
            <input type="text" id="pet-name" placeholder="Pet Name">
            <input type="text" id="pet-type" placeholder="Pet Type">
            <input type="text" id="pet-weight" placeholder="Pet Weight">
            <input type="text" id="pet-birthday" placeholder="Pet Birthday">
            <input type="text" id="pet-gender" placeholder="Pet Gender">
            <input type="text" id="pet-personality" placeholder="Pet Personality">
        </div>
    </div>

    <div class="row">
        <h4>Feeding</h4>
        <div class="small-9 columns">
            <input type="text" id="pet-food" placeholder="Pet Food Name">
            <input type="text" id="morning-feeding" placeholder="Morning Feeding">
            <input type="text" id="afternoon-feeding" placeholder="Afternoon Feeding">
            <input type="text" id="night-feeding" placeholder="Night Feeding">

        </div>
    </div>

    <div class="row">
        <h4>Vaccinations</h4>
        <div class="small-9 columns">
            <input type="text" id="vac-name" placeholder="Name of Vaccination">
            <input type="text" id="vac-status" placeholder="Vaccination Status">
            <input type="text" id="vac-due-date" placeholder="Vaccination Expiration Date">
            <input type="text" id="last-vaccination" placeholder="Last Vaccination">
            <p>(you can add more vaccinations once profile is created)</p>
        </div>
    </div>

    <div class="row">
        <h4>Medication </h4>
        <div class="small-9 columns">
            <input type="text" id="vac-name" placeholder="Name of Vaccination">
            <input type="text" id="vac-status" placeholder="Vaccination Status">
            <input type="text" id="vac-due-date" placeholder="Vaccination Expiration Date">
            <input type="text" id="last-vaccination" placeholder="Last Vaccination">
        </div>
    </div>


    <div class="row">
        <h4>Appointments </h4>
        <div class="small-9 columns">
            <input type="text" id="vet-name" placeholder="Vet Name">
            <input type="text" id="vet-address" placeholder="Vet Address">
            <input type="text" id="appt-time" placeholder="Appointment Time">
            <input type="text" id="appt-date" placeholder="Appointment Date">
            <p>(you can add more appointments once profile is created)</p>
        </div>
    </div>

    <div class="row">
        <h4>Medication </h4>
        <div class="small-9 columns">
            <input type="text" id="special-instructions" placeholder="Enter any special instructions you may have">
        </div>
    </div>



    <div class="row">
        <h4>Upload Picture</h4>
        <div class="small-9 columns">
            <div id="fileUpload">
                <form action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form>
            </div>
        </div>
    </div>
    <br>



    <a href="#" class="button large expanded">Save Profile</a>
    <p>(you can add more pets in the next step)</p>
    </div>


    <!-- =================== FOOTER ===================-->
    <!-- <div id="engadget-footer-social-container">
        <footer id="engadget-footer-social">
            <div class="footer-left">
                <div class="newsletter">
                    <h6>Sign up for our newsletter</h6>
                    <div class="input-group">

                        <input class="input-group-field" type="email" placeholder="Email address">
                        <div class="input-group-button">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <h6>Follow us</h6>
                <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
                <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
            </div>
        </footer>
    </div>
    <div id="engadget-footer-contact-details-container">
        <footer id="engadget-footer-contact-details">
            <div class="footer-left">
                <div class="contact-details">
                    <ul>
                        <li><img class="thumbnail" src="http://placehold.it/80"></li>
                        <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 01234 567890</li>
                        <li><a data-toggle="animatedModal10"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact
                                us</a></li>
                        <li><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Street, City, County, Country</li>
                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <ul class="menu align-right">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li><a href="#">Four</a></li>
                </ul>
            </div>
        </footer>
    </div> -->


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $("#picfile").change(function (event) {
            event.preventDefault();
            var reader = new FileReader();
            reader.onload = function (e) {
                console.log(e.target.result)
                $.post("/api/pet_image",
                    {
                        dataURI: e.target.result
                    },
                    function (data, status) {
                        console.log("Data: " + data + "\nStatus: " + status);
                    });

            }
            reader.readAsDataURL(event.target.files[0])
        });

    </script>
    <script src="../public/js/dropzone.js"></script>
    <script>
        $(document).foundation();

    </script>


</body>

</html>