<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>


    <!--- Booststrap CDN link-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" -->
    <!-- integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- Jquery CDN Link-->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js" -->
    <!-- integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script> -->
    <!--- Bootstrap CDN Links-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script> -->

    <!--ZURBINKS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="./styles/footer.css">
    <link rel="stylesheet" type="text/css" href="./styles/home.css">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    <link rel="stylesheet" type="text/css" href="./styles/table.css">


    <!--GOOGLE FONTS-->
    <link
        href="https://fonts.googleapis.com/css?family=Crimson+Pro:400,500,600,700,800,900|Raleway:300,400,500,600,700,800&display=swap"
        rel="stylesheet">



    <!--AG GRID-->
    <!-- <script> var __basePath = ''; </script>
    <style media="only screen">
        html,
        body {
            height: 100%;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            -webkit-overflow-scrolling: touch;
        }

        html {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            overflow: auto;
        }

        body {
            padding: 1rem;
            overflow: auto;
        }
    </style>
    <script src='https://unpkg.com/@ag-grid-community/all-modules@22.1.1/dist/ag-grid-community.min.js'></script> -->
</head>

<body>

    <!-- =================== NAVIGATION  ===================-->

    <div class="top-bar" id="navMenu">

        <!-- LEFT NAV -->
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="menu-text">
                    <!-- 
                </li><img src="../public/styles/images/pet-fetch-logo-05-05.png" width="120">
                </li> -->
                <li class="menu-text">PET FETCH</li>
            </ul>
        </div>

        <!-- RIGHT NAV -->
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="/" id="owner-profile">OWNER PROFILE</a></li>
                <li><a href="/pet_profile" class="share-button">SHARE PET PROFILE</a></li>
                <li><a href="/logout" class="log-button">LOGOUT</a></li>
            </ul>
        </div>

    </div>


    <!-- =================== PET TOP SECTION  ===================-->

    <!-- BACK TO PREVIOUS PAGE -->


    <div class="row" id="top-pet-profile">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="file:///C:/Users/Meli%20Mel/Documents/SMU-CLASS/Project%202/Project-2/views/index.html">BACK
                        TO ALL PETS</a></li>
            </ul>
        </nav>

        <div class="medium-6 columns">

            <!-- PET IMAGES -->
            <img class="thumbnail" src="https://placehold.it/650x350">
            <div class="row small-up-4">
                <div class="column">
                    <img class="thumbnail" src="https://placehold.it/250x200">
                </div>
                <div class="column">
                    <img class="thumbnail" src="https://placehold.it/250x200">
                </div>
                <div class="column">
                    <img class="thumbnail" src="https://placehold.it/250x200">
                </div>
                <div class="column">
                    <img class="thumbnail" src="https://placehold.it/250x200">
                </div>
            </div>
        </div>


        <!-- PET ABOUT -->
        <!--(will pull data from 'pets' table in database)-->


        <div class="medium-6 large-5 columns">
            <h1 id="main-headers">
                <div id="pet_name_pg">
                    Hercules
                </div>
            </h1>

            <div class="about-pet" id="pet_personality_pg">I'm a very friendly guy! I love taking long walks by
                the lake. My favorite
                sport is chasing tennis balls. I'm really good at that! I'm working on barking at other dogs and
                jumping
                on people.</div>


            <div class="quick-facts">
                <div class="medium-6 columns">
                    <p class="subheader-black" id="pet_age_pg">AGE</p>
                    <p class="lead-black">1yr 2 months</p>

                    <p class="subheader-black">WEIGHT</p>
                    <p class="lead-black" id="pet_weight_pg">68lbs</p>

                    <p class="subheader-black">BIRTHDAY</p>
                    <p class="lead-black" id="pet_birthday_pg">Nov 3, 2018</p>
                </div>

                <div class="medium-6 columns">
                    <p class="subheader-black">SEX</p>
                    <p class="lead-black" id="pet_gender_pg">Male</p>

                    <p class="subheader-black">SPECIES</p>
                    <p class="lead-black" id="pet_type_pg">Goldendoodle</p>

                    <p class="subheader-black">SPECIAL INSTRUCTIONS</p>
                    <p class="lead-black" id="special_instructions_pg">No</p>
                </div>


            </div>
        </div>
    </div>




    <!-- =================== TAB SECTION  ===================-->
    <!-- <div class="column row"> -->
    <!-- <nav class="hover-underline-menu" data-menu-underline-from-center> -->
    <!-- <ul class="menu align-center"> -->
    <!-- <li class="tabButton" id="vaccines_link">Vaccines</a></li> -->
    <!-- <li class="tabButton" id="meds_link">Medication</a></li>
                <li class="tabButton" id="appts_link">Appointments</a></li>
                <li class="tabButton" id="instructions_link">Special Instructions</a></li>
            </ul>
        </nav>
    </div> -->


    <!-- =================== DATA POPULATES HERE  ===================-->

    <div class="row">
        <div id="tab_name">Vaccinations</div>
        <div class="col-md-12 blog-container">
        </div>

    </div>

    <div class="row">
        <div id="tab_name">Medication</div>
        <div class="col-md-12 blog-container2">
        </div>
    </div>

    <div class="row">
        <div id="tab_name">Appointments</div>
        <div class="col-md-12 blog-container3">
        </div>

    </div>

    <div class="row">
        <div id="tab_name">Feeding</div>
        <div class="col-md-12 blog-container4">
        </div>
    </div>

    <div class="row">
        <div id="tab_name">Special Instructions</div>
        <div class="col-md-12 blog-container5">
        </div>
    </div>


    <!-- link back to pet profile form-->
    <a href="#" class="add-row-button">ADD MORE INFO</a>


    </div>





    <!-- VACCINES: Modal showing data from DB-->
    <!-- <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" class="staticBackdropLabel" id="vaccine_modal_header">Vaccines</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="columnNames" id="vac_name">Vaccine Name</h4>
                    <h4 class="columnNames" id="vac_status"> Vaccine Status</h4>
                    <h4 class="columnNames" id="vac_due_date">Vaccine Due Date</h4>
                    <div id="modal-name" src="" alt="" style="height: 250px" style="width: 200px">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->



    <!-- <div style="height: calc(25% - 25px);">
        <div id="myGrid" style="height: 100%;" class="ag-theme-balham">
        </div>
    </div>
    
    <script src="./js/vaccines_table.js"></script>
    <script src="./js/medications_table.js"></script>
    <script src="./js/appointment_table.js"></script>
    <script src="./js/instructions_table.js"></script> -->

    </div>







    <!-- =================== (OLD TABS) ===================-->
    <!-- <div class="column row">
        <ul class="tabs align-right" data-tabs id="profile-tab-names">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Feeding</a></li>
            <li class="tabs-title"><a href="#panel2">Vaccinations</a></li>
            <li class="tabs-title"><a href="#panel3">Medications</a></li>
            <li class="tabs-title"><a href="#panel4">Appointments</a></li>
            <li class="tabs-title"><a href="#panel5">Special Instructions</a></li>

        </ul>

        <div class="tabs-content" data-tabs-content="example-tabs"> -->


    <!-- =================== EACH TAB ===================-->

    <!-- ====== FEEDING (TAB 1) ======  -->
    <!-- <div class="tabs-panel is-active" id="panel1">
                <div class=h5 id=>Food Brand Name:</div class=h5>
                <h5>Morning Feeding Time:</h5>
                <h5>Afternoon Feeding Time</h5>
                <h5>Evening Feeding Time</h5>


            </div> -->






    </div>


    </div>
    </div>



    <!-- =================== FOOTER ===================-->

    <div id="engadget-footer-contact-details-container">
        <footer id="engadget-footer-contact-details">
            <div class="footer-left">
                <div class="contact-details">
                    <ul>
                        <li><img class="thumbnail" src="http://placehold.it/80"></li>
                        <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 1-800-399-9271</li>
                        <li><a data-toggle="animatedModal10"><i class="fa fa-envelope-o" aria-hidden="true"></i>

                        <li><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> 18727 LUCKY DRIVE, DALLAS, TX
                            75552
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <div class="newsletter">
                    <h6>Sign up for our newsletter</h6>
                    <div class="input-group">

                        <input class="input-group-field" type="email" placeholder="Email address">
                        <div class="input-group-button">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- =================== SCRIPTS ===================-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>

    <script src="./js/profile.js"></script>
    <script src="./js/profile_medication.js"></script>
    <script src="./js/profile_appointments.js"></script>
    <script src="./js/profile_feeding.js"></script>
    <script src="./js/profile_special_instructions.js"></script>




    <!-- <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> --> -->
    <!-- <!-- <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script> --> -->
    <script>
        $(document).foundation();
    </script>
</body>

</html>