<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>

    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>

<body>

    <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="realEstateMenu">
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="menu-text">PET FETCH</li>
                <!-- <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li> -->
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#">My Account</a></li>
                <li><a class="button">Share Pet Profile</a></li>
            </ul>
        </div>

        <br>

        <div class="row columns">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">BACK TO ALL PETS</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                <img class="thumbnail" src="https://placehold.it/650x350">
                <div class="row small-up-4">
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x200">
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x200">
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x200">
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x200">
                    </div>
                </div>
            </div>


            <div class="medium-6 large-5 columns">
                <h3>Hercules</h3>
                <p>I'm a very friendly guy! I love taking long walks by the lake. My favorite sport is chasing tennis
                    balls. I'm really good at that! I'm working on barking at other dogs and jumping on people.</p>


                <div class="quick-facts">
                    <p>AGE</p>
                    <h4>1yr 2 months</h4>
                    <p>WEIGHT</p>
                    <h4>65lbs</h4>
                    <p>SEX</p>
                    <h4>Male</h4>
                    <p>SPECIES</p>
                    <h4>Goldendoodle</h4>

                </div>




            </div>
        </div>
        <div class="column row">
            <hr>
            <!-- TAB NAMES -->
            <ul class="tabs" data-tabs id="example-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">About Me</a></li>
                <li class="tabs-title"><a href="#panel2">Feeding</a></li>
                <li class="tabs-title"><a href="#panel3">Vaccinations</a></li>
                <li class="tabs-title"><a href="#panel4">Medication</a></li>
                <li class="tabs-title"><a href="#panel5">Appointments</a></li>
                <li class="tabs-title"><a href="#panel6">Special Instructions</a></li>
            </ul>
            <div class="tabs-content" data-tabs-content="example-tabs">


                <!-- TAB: ABOUT ME -->
                <div class="tabs-panel is-active" id="panel1">
                    <table style="width:100%">
                        <tr>
                            <th>Name</th>
                            <th>SPECIES</th>
                            <th>WEIGHT</th>
                            <th>BIRTHDAY</th>
                            <th>GENDER</th>
                            <th>PERSONALITY</th>
                        </tr>
                        <tr>
                            <td>January</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <td>February</td>
                            <td>$50</td>
                        </tr>
                    </table>

                    <button class="button">EDIT INFO</button>
                </div>

                <!-- TAB: FEEDING -->
                <div class="tabs-panel is-active" id="panel2">

                    <table style="width:100%">
                        <tr>
                            <th>Pet Food Name</th>
                            <th>Morning Feeding Time</th>
                            <th>Afternoon Feeding Time</th>
                            <th>Night Feeding Time</th>

                        </tr>
                        <tr>
                            <td>January</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <td>February</td>
                            <td>$50</td>
                        </tr>
                    </table>

                    <button class="button">EDIT INFO</button>
                </div>

                <!-- TAB: VACCINATIONS -->
                <div class="tabs-panel is-active" id="panel3">

                    <table style="width:100%">

                        <tr>
                            <th>Vaccination Name</th>
                            <th>Vaccination Status</th>
                            <th>Vaccination Due Date</th>
                            <th>Last Vaccination</th>
                        </tr>
                        <tr>
                            <td>January</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <td>February</td>
                            <td>$50</td>
                        </tr>
                    </table>

                    <button class="button">EDIT INFO</button>
                </div>

                <!-- TAB: MEDICATIONS -->
                <div class="tabs-panel is-active" id="panel4">

                    <table style="width:100%">

                        <tr>
                            <th>Needs Medication</th>
                            <th>Medication Name</th>
                            <th>Dosage</th>
                            <th>Medication Time</th>

                        </tr>
                        <tr>
                            <td>January</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <td>February</td>
                            <td>$50</td>
                        </tr>
                    </table>

                    <button class="button">EDIT INFO</button>
                </div>

                <!-- TAB: APPOINTMENTS -->
                <div class="tabs-panel is-active" id="panel5">

                    <table style="width:100%">

                        <tr>
                            <th>Vet Name</th>
                            <th>Vet Address</th>
                            <th>Apointment Time</th>
                            <th>Appointment Date</th>

                        </tr>
                        <tr>
                            <td>January</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <td>February</td>
                            <td>$50</td>
                        </tr>
                    </table>

                    <button class="button">EDIT INFO</button>
                </div>



            </div>
        </div>
    </div>


    <div class="ecommerce-footer">
        <div class="ecommerce-footer-links row">
            <div class="small-12 medium-12 large-6 columns">
                <div class="row ecommerce-footer-links-block">
                    <div class="small-4 medium-4 large-4 columns">
                        <h5>Categories</h5>
                        <ul class="menu vertical">
                            <li><a href="#">Category 1</a></li>
                            <li><a href="#">Category 2</a></li>
                            <li><a href="#">Category 3</a></li>
                            <li><a href="#">Category 4</a></li>
                            <li><a href="#">Category 5</a></li>
                        </ul>
                    </div>
                    <div class="small-4 medium-4 large-4 columns more-categories">
                        <ul class="menu vertical">
                            <li><a href="#">Category 6</a></li>
                            <li><a href="#">Category 7</a></li>
                            <li><a href="#">Category 8</a></li>
                            <li><a href="#">Category 9</a></li>
                            <li><a href="#">Category 10</a></li>
                        </ul>
                    </div>
                    <div class="small-4 medium-4 large-4 columns">
                        <h5>Help</h5>
                        <ul class="menu vertical">
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Shipping &amp; Delivery</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="small-12 medium-12 large-6 columns">
                <div class="row">
                    <div class="small-4 medium-4 large-4 columns">
                        <h5>My Account</h5>
                        <ul class="menu vertical">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">My Wishlist</a></li>
                        </ul>
                    </div>
                    <div class="small-4 medium-4 large-4 columns">
                        <h5>About</h5>
                        <ul class="menu vertical">
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Store Locator</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Career</a></li>
                        </ul>
                    </div>
                    <div class="small-4 medium-4 large-4 columns">
                        <h5>Social</h5>
                        <ul class="menu vertical">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ecommerce-footer-bottom-bar row">
            <div class="small-12 medium-5 columns">
                <ul class="bottom-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="small-12 medium-2 columns ecommerce-footer-logomark">
                <img src="https://placehold.it/50x50" />
            </div>
            <div class="small-12 medium-5 columns">
                <div class="bottom-copyright">
                    <span>©2017 Company Name. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>