<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to your Pet Fetch Profile</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="./styles/footer.css">
    <link rel="stylesheet" type="text/css" href="./styles/home.css">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">

    <!--GOOGLE FONTS-->
    <link
        href="https://fonts.googleapis.com/css?family=Crimson+Pro:400,500,600,700,800,900|Raleway:300,400,500,600,700,800&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- =================== NAVIGATION  ===================-->
    <!-- MOBILE MENU -->
    <!-- <div class="title-bar" data-responsive-toggle="mobileNavMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div> -->

    <div class="top-bar" id="navMenu">

        <!-- LEFT NAV -->
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="menu-text">
                    <!-- 
            </li><img src="../public/styles/images/pet-fetch-logo-05-05.png" width="120">
            </li> -->
                <li class="menu-text">PET FETCH</li>
            </ul>
        </div>

        <!-- RIGHT NAV -->
        <div class="top-bar-right">
            <ul class="menu">
                <!-- <li><a href="#" id="owner-profile">OWNER PROFILE</a></li>
                <li><a class="share-button">SHARE PET PROFILE</a></li>
                <li><a class="log-button">LOGOUT</a></li> -->
            </ul>
        </div>

    </div>

    </div>
    </div>


    <h1 class="user-name" id="main-headers2">Profile Setup</h1>
    <h1 id="sub-header3">Enter information regarding your first pet.<br>
        You can add multiple pets once your profile is created.</h1>


    <form id="profile-setup-form">



        <!-- =================== PET FORM =================== -->

        <div class="row">
            <!-- <h1 id="sub-header2">Pet Profile</h1> -->


            <div class="columns medium-6 large-4">
                <h1 class="user-name" id="form-header">About Pet</h1>
            </div>
            <div class="columns medium-6 large-8">
                <input type="text" id="pet-name" placeholder="Pet Name">
                <input type="text" id="pet-type" placeholder="Pet Type">
                <input type="text" id="pet-weight" placeholder="Pet Weight">
                <input type="text" id="pet-birthday" placeholder="Pet Birthday">
                <input type="text" id="pet-gender" placeholder="Pet Gender">
                <input type="text" id="pet-personality" placeholder="Pet Personality">
            </div>
        </div>

        <!--Feeding -->
        <div class="row">
            <div class="columns medium-6 large-4">
                <h1 class="user-name" id="form-header">Feeding</h1>
            </div>
            <div class="columns medium-6 large-8">
                <input type="text" id="pet-food" placeholder="Pet Food Name">
                <input type="text" id="food_amount" placeholder="Food Amount">
                <input type="text" id="morning-feeding" placeholder="Pet Type">
                <input type="text" id="afternoon-feeding" placeholder="Pet Weight">
                <input type="text" id="night-feeding" placeholder="Pet Birthday">
            </div>
        </div>

        <div class="row">
            <div class="columns medium-6 large-4">
                <h1 class="user-name" id="form-header">Vaccinations</h1>
            </div>
            <div class="columns medium-6 large-8">
                <input type="text" id="vac-name" placeholder="Name of Vaccination">
                <input type="text" id="vac-status" placeholder="Vaccination Status">
                <input type="text" id="vac-due-date" placeholder="Vaccination Expiration Date">
            </div>
        </div>

        <div class="row">
            <div class="columns medium-6 large-4">
                <h1 class="user-name" id="form-header">Medication</h1>
            </div>
            <div class="columns medium-6 large-8">
                <input type="text" id="needs_meds" placeholder="Does Your Pet Use Medication? (Yes or No)">
                <input type="text" id="medication_name" placeholder="Medication Name">
                <input type="text" id="medication_time" placeholder="Time to Take Medication">
                <input type="text" id="dosage" placeholder="Dosage">
            </div>
        </div>


        <div class="row">
            <div class="columns medium-6 large-4">
                <h1 class="user-name" id="form-header">Appointments</h1>
            </div>
            <div class="columns medium-6 large-8">
                <input type="text" id="vet_name" placeholder="Vet Name">
                <input type="text" id="vet_address" placeholder="Vet Address">
                <input type="text" id="appt" placeholder="Appointment Time and Date">
            </div>


        </div>

        <div class="row">
            <div class="columns medium-6 large-4">
                <h1 class="user-name" id="form-header">Special Instructions</h1>
            </div>
            <div class="columns medium-6 large-8">
                <input type="text" id="instructions"
                    placeholder="Does your pet have any special instructions? (Yes or NO">
                <input type="text" id="info" placeholder="Enter any special instructions you may have">
            </div>
        </div>



        <div>
            <a href="#" class="button large expanded" id="submit-pet">Complete Profile</a>
        </div>

    </form>
    <!-- =================== SCRIPTS =================== -->

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>

    <script src="./js/pet_profile_setup.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>