<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to your Pet Fetch Profile</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="../public/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/home.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">

    <!--GOOGLE FONTS-->
    <link
        href="https://fonts.googleapis.com/css?family=Crimson+Pro:400,500,600,700,800,900|Raleway:300,400,500,600,700,800&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- =================== NAVIGATION  ===================-->

    <div class="top-bar" id="navMenu">

        <!-- LEFT NAV -->
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="menu-text">
                    <!-- 
                </li><img src="../public/styles/images/pet-fetch-logo-05-05.png" width="120">
                </li> -->
                <li class="menu-text">PET FETCH</li>
            </ul>
        </div>

        <!-- RIGHT NAV -->
        <div class="top-bar-right">
            <ul class="menu">
                <li><a class="sign-in-button">SIGN IN</a></li>
            </ul>
        </div>

    </div>


    <!-- =================== MAIN PAGE  ===================-->
    <h1 class="user-name" id="main-headers2">Welcome</h1>

    <div>
        <a href="#" class="button large expanded">Create Profile</a>
    </div>


    <!-- =================== SCRIPTS =================== -->

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>